
/* The Modal (background) */
.project-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-bottom: 100px; /* Location of the box */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .project-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .pClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .pClose:hover,
  .pClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .project-modal-header {
    padding: 2px 16px;
    text-align: center;
    background-color: #5cb85c;
    color: white;
  }
  
  .project-modal-body {padding: 2px 16px;}
  
  .project-modal-footer {
    padding: 2px 16px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #5cb85c;
    color: white;
  }
  
  .project-btn {
    font-size: 20px;
  }
  
  .project-container-child {
    height: 90%;
    width: 50%;
    max-width: 50%;
    max-height: 90%;
    float: left;
  }
  
  .project-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-height: 450px;
    max-width: 450px;
  }